name: Update IPTV

on:
  schedule:
    # 
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Increase open files limit
      run: |
        ulimit -n 65536

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install aiohttp uvloop

    - name: Run M3U Check Script
      run: python main.py

    - name: Commit and Push M3U file
      run: |
        git config --local user.email "github-actions@users.noreply.github.com"
        git config --local user.name "github-actions"
        git add itvlist.m3u

        git commit -m "Update iptv list" || exit 0
        git push
